.navbar {
    margin-bottom: 2%;
}

h5 { 
    color:rgb(26, 67, 163);
    margin-right: 1%;
}

.alert {
    width: 200px;
    margin: 1%;
}

.navbar-otsikko {
    color:rgb(94, 94, 0);
    padding-left: 1%;
}

.keskibox {
    width:100%;
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    border: 1px solid green;
    padding-top:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: rgb(68, 68, 67);
}