.keskibox {
    width:100%;
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    border: 1px solid green;
    padding-top:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: rgb(68, 68, 67);
}