<nav class="navbar bg-dark" data-bs-theme="dark">
  <h1 class="navbar-otsikko">Aika nyt</h1>
</nav>

<section 
[style.background-color]="color2" [style.color]="frontcolor1"
class="keskibox"
>
<h1>{{ time | date:'EEEE'}}</h1>
</section>

<section [style.background-color]="color1" class="keskibox">
<h1>{{ time| date: 'H:mm:ss aa' }}</h1>
</section>

<section 
[style.background-color]="color2" [style.color]="frontcolor1"
class="keskibox"
>
<h1>{{ time | date:' dd.MM.yyyy'}}</h1>
</section>

<section [style.background-color]="color1" class="keskibox">
<h1>{{ time | date:'dd, LLLL, YYYY'}}</h1>
</section>

<hr>
<input type="text" (keypress)="getWeatherCity(userInput.value)" #userInput placeholder="kirjoita kaupunki.." />

<section class="weathercards">

<section class="weatherbox">
  <article class="saabox-keskiosa">
   <h4> {{citydetailweather?.location?.name}}</h4>
     <p>
    Lämpötila:
    {{citydetailweather?.current?.temp_c}}
    <br>
    Tuntuu kuin:
    {{citydetailweather?.current?.feelslike_c}}
  </p>
  <figure>
  <hr>
  <img src="{{citydetailweather?.current?.condition?.icon}}">
  </figure>
  <hr>
  <p>{{citydetailweather?.current?.condition?.text}}</p>
  <p> UV säteily: {{citydetailweather?.current?.uv}}</p>
</article>
<!--
<button type="button" class="btn btn-primary btn-sm" (click)="addItem(citydetailweather?.location?.name, citydetailweather?.current?.uv)">
ADD</button>
-->
</section>

<section class="weatherbox">
  <article class="saabox-keskiosa">
   <h4> {{helsinkisaa?.location?.name}}</h4>
     <p>
    Lämpötila:
    {{helsinkisaa?.current?.temp_c}}
    <br>
    Tuntuu kuin:
    {{helsinkisaa?.current?.feelslike_c}}
  </p>
  <figure>
  <hr>
  <img src="{{helsinkisaa?.current?.condition?.icon}}">
  </figure>
  <hr>
  <p>{{helsinkisaa?.current?.condition?.text}}</p>
  <p> UV säteily: {{helsinkisaa?.current?.uv}}</p>
</article>
</section>

</section>















