<nav class="navbar bg-dark" data-bs-theme="dark">
  <h1 class="navbar-otsikko">Aika nyt</h1>

</nav>


<section 
[style.background-color]="color2" [style.color]="frontcolor1"
class="keskibox"
>
<h1>{{ time | date:'EEEE'}}</h1>
</section>

<section [style.background-color]="color1" class="keskibox">
<h1>{{ time| date: 'H:mm:ss aa' }}</h1>
</section>

<section 
[style.background-color]="color2" [style.color]="frontcolor1"
class="keskibox"
>
<h1>{{ time | date:' dd.MM.yyyy'}}</h1>
</section>

<section [style.background-color]="color1" class="keskibox">
<h1>{{ time | date:'dd, LLLL, YYYY'}}</h1>
</section>

<hr>
<p>
Jarno 2023
</p>


<div class="alert alert-info" role="alert">
<h5>
  
    Paikkakunta:
  {{helsinkisaa.location.name}}
  <br>
  Lämpötila:
  {{helsinkisaa.current.temp_c}}
  <br>
  Tuntuu kuin:
  {{helsinkisaa.current.feelslike_c}}
  </h5>
  <hr>
  <img src="{{helsinkisaa.current.condition.icon}}">
  <h5>{{helsinkisaa.current.condition.text}}</h5>
  <hr>
  <h5>Päivitetty: {{helsinkisaa.current.last_updated}}</h5>

</div>




